<footer>
  <div>
    <p>
      {% if site.github != "" %}
        <a href="{{ site.github | safe }}">GitHub</a>
      {% endif %}
      {% if site.linkedin != "" %}
        &middot;
        <a href="{{ site.linkedin | safe }}">LinkedIn</a>
      {% endif %}
      {% if site.X != "" %}
        &middot;
        <a href="{{ site.X | safe }}">X</a>
      {% endif %}
    </p>
  </div>
</footer>